<div class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1><%= t(".title") %></h1>
      </div>
    </div>

    <%= render "steps", active: [0, 1] %>
  </div>
</div>

<%= stylesheet_link_tag "decidim/access_requests/verification" %>
